*{
  font-family: "Rubrik",sans-serif;
  color: #393c41;
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
  overflow-x: hidden;
  width: 100%;
  
}

@keyframes animateDown{
  0% ,20%,50%,80%,100%{
    transform: translative(0);
  }
  40%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(3px);
  }
}